    <!-- Header -->
    <header style="background-image: url({{ site.header.background_image | relative_url }});">
        <div class="container">
            <div class="row">
<div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <!-- <img class="img-responsive" src="img/profile.png" alt=""> -->
                    <div class="intro-text">
                        <span class="name">CloudButton</span>
                        <!-- <hr class="star-light"> -->
                        <span class="skills">{{ site.subtitle }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
