<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" class="index">
    {% include nav.html %}
    {% include header.html %}
    {% include objectives.html %}
    {% include news_grid.html %}
    {% include use_cases.html %}
    {% include results.html %}
    {% include partners.html %}
    {% include about.html %}

    {% comment %}
    this is commented out:
    {% if site.contact == "static" %}
    {% include contact_static.html %}
    {% elsif site.contact == "disqus" %}
    {% include contact_disqus.html %}
    {% else %}
    {% include contact.html %}
    {% endif %}
    {% endcomment %}

    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}
    </body>
</html>
